openapi: 3.1.0
info:
  title: Scalar Registry (Public Read Surface) - Modeled Registry Management API
  description: MODELED / endpointsModeled. Scalar is an open-source API platform whose hosted Registry stores and versions OpenAPI documents. Published documents are served over a public HTTPS read CDN at registry.scalar.com in the form /@{namespace}/apis/{slug}, optionally with a ?format=json or ?format=yaml query to control the returned representation, and an optional version segment. This document models that public read surface plus the registry lifecycle operations that are performed through the authenticated Scalar CLI (scalar registry publish / list / update / delete). Scalar does NOT publish a fully documented public REST management API; the mutating operations below are modeled from the CLI behavior for cataloging purposes and their exact HTTP shapes are not officially specified. The one confirmed, publicly reachable endpoint is the GET read of a published document (e.g. https://registry.scalar.com/@scalar/apis/galaxy?format=json).
  version: '2026-07-11'
  contact:
    name: Scalar
    url: https://scalar.com
  license:
    name: MIT
    url: https://github.com/scalar/scalar/blob/main/LICENSE
servers:
- url: https://registry.scalar.com
  description: Scalar Registry public read CDN (confirmed). Mutations via Scalar CLI (modeled).
security:
- scalarApiKey: []
tags:
- name: Registry Management
  description: Publish / list / update / delete documents - performed via the Scalar CLI (modeled).
paths:
  /@{namespace}/apis:
    get:
      tags:
      - Registry Management
      summary: List APIs in a namespace
      description: MODELED from `scalar registry list --namespace`. Lists the API documents registered under a team namespace. Exposed to end users through the Scalar CLI; a documented public REST equivalent is not published.
      operationId: listRegistryDocuments
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of registered API documents (modeled).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      tags:
      - Registry Management
      summary: Publish an OpenAPI document
      description: MODELED from `scalar registry publish <file> --namespace <ns> --slug <slug> [--version] [--private] [--force]`. Publishes (or overwrites) an OpenAPI document in the registry. Performed through the authenticated Scalar CLI; the exact HTTP request shape is not officially documented.
      operationId: publishRegistryDocument
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                version:
                  type: string
                private:
                  type: boolean
                document:
                  type: object
                  description: The OpenAPI document being published.
      responses:
        '201':
          description: Document published (modeled).
components:
  securitySchemes:
    scalarApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: MODELED. Management operations are authenticated via a Scalar API key used by the Scalar CLI. The exact header is not officially documented.
